# Binary and library file types
*.a
*.dylib
*.so
*.pyc
*.pyo

# Xcode project files
*.xcodeproj/
*.build/
Debug/
Release/

# Visual Studio Code files
.vscode

# CMake files
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeScripts/

# Unix Makefiles
Makefile

# Misc files
\#*\#
*~
compile_commands.json
lcov
doxygen

# Build directories
build/
build.*/
build-*/
build_*/
/.vs

CMakeSettings.json

#clion build directories
cmake-build-*/
.idea/

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

*.log
