__workbook
.vscode
**/__pycache__
**/*.pyc
*.pyc
tests/data/records.sql
ah/api/tmp.py
set_version_in_sql.pgsql

# Build directories
build/
build.*/
build-*/
build_*/


# logs and output from JMETER
**/*.log
**/*.jtl
**/*.jmx
**/*out
**/*csv
**/workdir/**

# virtual enviroments
*env*
