# filter *.out.json
*.out.json

*__pycache__*

# filter *.pyc
*.pyc

# filter diff files
*.diff.json

#tavern tests
/hived/tavern_run/.eggs
/hived/tavern_run/.tox
/hived/tavern_run/hive.egg-info
/hived/tavern_run/tests
/hived/tavern_run/version.py
/hived/tavern_run/advanced_benchmark.json
/hived/tavern_run/r_advanced_benchmark.json

# benchmark info
*benchmark.csv
